<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xyzlast.mybatis.dao.BookDao">
    <resultMap type="me.xyzlast.mybatis.entities.Book" id="bookmap">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="author" property="author"/>
        <result column="publishDate" property="publishDate"/>
        <result column="status" property="status"/>
        <result column="comment" property="comment"/>
        <result column="rentUserId" property="rentUserId"/>
    </resultMap>
    <select id="getById" resultMap="bookmap" parameterType="int">
        SELECT id, name, author, publishDate, status, rentUserId FROM books WHERE id = #{value}
    </select>
    <select id="getAll" resultMap="bookmap">
      SELECT id, name, author, publishDate, status, rentUserId FROM books
    </select>
    <select id="listByStatus" resultMap="bookmap">
      SELECT id, name, author, publishDate, status, rentUserId FROM books Order By Status
    </select>
    <select id="countAll" resultType="int">SELECT COUNT(*) FROM books</select>
    <insert id="add" parameterType="me.xyzlast.mybatis.entities.Book" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO books(name, author, publishDate, comment, status, rentUserId) VALUES(#{name}, #{author}, #{publishDate}, #{comment}, #{status.ordinal}, #{rentUserId})
    </insert>
    <update id="update" parameterType="me.xyzlast.mybatis.entities.Book">
        UPDATE books SET name=#{name}, author=#{author}, publishDate=#{publishDate}, comment=#{comment}, status=#{status.ordinal}, rentUserId=#{rentUserId} WHERE id = #{id}
    </update>
    <delete id="deleteAll">
        DELETE FROM books
    </delete>
</mapper>