<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="me.xyzlast.mybatis.constants.BookStatus"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="me.xyzlast.mybatis.constants.ActionType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="me.xyzlast.mybatis.constants.UserLevel"/>
    </typeHandlers>
    <mappers>
        <mapper resource="bookDao.mapper.xml"/>
        <mapper resource="userDao.mapper.xml"/>
        <mapper resource="historyDao.mapper.xml"/>
    </mappers>
</configuration>